ROLE: coder (continue)
SUBTASK: {{ subtask.name }}
{% if dependency_interfaces %}
DEPENDENCIES:
{{ dependency_interfaces[:600] }}
{% endif %}
CODE SO FAR:
{{ existing_code[:5000] }}

CONTINUE from where this code was cut off. Do NOT repeat code above.
Output ONLY the remaining code. It will be appended directly.
